<!DOCTYPE html>
<html lang="en">
<head>
    {{ turbo() }}
    <title>SQM Status Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='status.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='dark.css')}}">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='northstar.png')}}">

</head>
<body>

{% include "replace_content.html" %}
{% block content %}{% endblock %}

<div class='container'>

    <section class='ongoingIssues'>
        <div class='issueBanner issueBanner--monitoring'>
            <h2>Info & Calibration</h2>
        </div>
    </section>
    <form action="/calibrate" method="post">
        <section class='serviceGroup'>
            <ul class='serviceList serviceGroup__list'>
                <li class='serviceList__item'>
                    <p class='serviceList__status'><span class="ok">ESP-WIFI-MANAGER</span></p>
                    <p class='serviceList__name'>
                        Access Point name to change WI-FI settings on the ESP32 (if the ESP32 could not find the WI-FI)
                    </p>
                </li>
                <li class='serviceList__item'>
                    <p class='serviceList__status'><span class="ok">192.168.1.1</span></p>
                    <p class='serviceList__name'>
                        Access Point IP to change WI-FI settings on the ESP32
                    </p>
                </li>
                <li class='serviceList__item'></li>
                <li class='serviceList__item'>

                    {% if (localIP!="error") %}
                        <p class='serviceList__status'><span class="ok">{{localIP}}</span></p>

                    {% else %}
                        <p class='serviceList__status'><span class="ok">Couldn't read IP</span></p>

                    {% endif %}
                    <p class='serviceList__name'>
                        Server IP address (for the ESP32 settings)
                    </p>
                </li>
                <li class='serviceList__item'></li>
                <li class='serviceList__item'>

                    {% if (calculated_mag_limit!=-333) %}
                        <p class='serviceList__status'><span class="ok">{{calculated_mag_limit}}</span></p>

                    {% else %}
                        <p class='serviceList__status'><span class="outage">None calculated yet</span></p>

                    {% endif %}
                    <p class='serviceList__name'>
                        Calculated Limiting magnitude for your location
                    </p>
                </li>

                <li class='serviceList__item'>
                    <p class='serviceList__status'><span class="ok"><input type="number"  step=".01" id="actual_SQM" name="actual_SQM"></span></p>
                    <p class='serviceList__name'>
                        Measured Luminosity <br>(with professional SQMeter, for calibration, valid for 15min,<br>compares it to a measured sensor value of the ESP32,<br> calculates a Limiting magnitude)
                    </p>
                </li>
                <li class='serviceList__item'>
                    <p class='serviceList__status'><span class="outage"><button class="button button5" type="submit">Calibrate</button></span></p>

                </li>


            </ul>
        </section>
    </form>
</div>


<div class='container'>

    <section class='ongoingIssues'>
        <div class='issueBanner issueBanner--monitoring'>
            <h2>Settings</h2>
        </div>
    </section>

    <section class='serviceGroup'>
        <ul class='serviceList serviceGroup__list'>

            <li class='serviceList__item'>
                {% if (DISPLAY_ON==1) %}
                    <p class='serviceList__status'><span class="ok">On
                        </span></p>

                {% else %}
                    <p class='serviceList__status'><span class="ok">Off
                        </span></p>

                {% endif %}

                <p class='serviceList__name'>
                    Display (on/off)
                </p>
            </li>
            <li class='serviceList__item'>
                <p class='serviceList__status'><span class="ok">{{setpoint1}}</span></p>
                <p class='serviceList__name'>
                    Setpoint 1 (setpoint for clear skies)
                </p>
            </li>
            <li class='serviceList__item'>
                <p class='serviceList__status'><span class="ok">{{setpoint2}}</span></p>
                <p class='serviceList__name'>
                    Setpoint 2 (setpoint for cloudy skies)
                </p>
            </li>
            <li class='serviceList__item'>
                <p class='serviceList__status'><span class="ok">{{max_lux}}</span></p>
                <p class='serviceList__name'>
                    Max. Lux (for Seeing check)
                </p>
            </li>
            <li class='serviceList__item'>
                <p class='serviceList__status'><span class="ok">{{set_sqm_limit}}</span></p>

                <p class='serviceList__name'>
                    Limiting magnitude on your location
                </p>
            </li>
            <li class='serviceList__item'>
                <p class='serviceList__status'><span class="ok">{{DISPLAY_TIMEOUT_s}}</span></p>
                <p class='serviceList__name'>
                    Seconds until the display turns itself off (0 for never)
                </p>
            </li>
            <li class='serviceList__item'>
                <p class='serviceList__status'><span class="ok">{{SLEEPTIME_s}}</span></p>

                <p class='serviceList__name'>
                    Seconds the ESP32 should sleep between measurements
                </p>
            </li>
            <li class='serviceList__item'>
                <p class='serviceList__status'><span class="ok">{{seeing_thr}}</span></p>

                <p class='serviceList__name'>
                    Seeing on/off threshold (after how many times good/bad sky seeing on/off)
                </p>
            </li>
            <li class='serviceList__item'>
            </li>
            <li class='serviceList__item'>

                {% if (PATH!="" and PATH!=" ") %}
                    <p class='serviceList__status'><span class="ok">"{{PATH}}"</span></p>

                {% else %}
                    <p class='serviceList__status'><span class="ok">Same as Script</span></p>

                {% endif %}

                <p class='serviceList__name'>
                    Path where to save the sensor measurements
                </p>
            </li>
            <li class='serviceList__item'>
                <p class='serviceList__status'><a href="/settings"><span class="outage"><button class="button button5" type="submit">Change</button></span></a>

            </li>


        </ul>
    </section>
</div>

<div class='container'>

    <section class='ongoingIssues'>
        <div class='issueBanner issueBanner--monitoring'>
            <h2>Sensors</h2>
        </div>
    </section>

    <section class='serviceGroup'>
        <ul class='serviceList serviceGroup__list'>

            <li class='serviceList__item'>

                <p class='serviceList__status'><span class="ok">{{abr_seeing}}</span></p>

                <p class='serviceList__name'>
                    <label class="switch">
                        <input type="checkbox" id="en_seeing" name="en_seeing" {% if en_seeing %}checked{% endif %}>
                        <span class="slider round"></span>
                    </label>
                    Seeing
                </p>
            </li>
            <li class='serviceList__item'>
                <p class='serviceList__status'><span class="ok">{{abr_raining}}</span></p>

                <p class='serviceList__name'>
                    <label class="switch">
                        <input type="checkbox" id="en_raining" name="en_raining" {% if en_raining %}checked{% endif %}>
                        <span class="slider round"></span>
                    </label>
                    Raining
                </p>
            </li>
            <li class='serviceList__item'>
                <p class='serviceList__status'><span class="ok">{{abr_luminosity}}</span></p>

                <p class='serviceList__name'>
                    <label class="switch">
                        <input type="checkbox" id="en_luminosity" name="en_luminosity" {% if en_luminosity %}checked{% endif %}>
                        <span class="slider round"></span>
                    </label>
                    Luminosity
                </p>
            </li>
            <li class='serviceList__item'>
                <p class='serviceList__status'><span class="ok">{{abr_nelm}}</span></p>

                <p class='serviceList__name'>
                    <label class="switch">
                        <input type="checkbox" id="en_nelm" name="en_nelm" {% if en_nelm %}checked{% endif %}>
                        <span class="slider round"></span>
                    </label>
                    Nelm
                </p>
            </li>
            <li class='serviceList__item'>
                <p class='serviceList__status'><span class="ok">{{abr_concentration}}</span></p>

                <p class='serviceList__name'>
                    <label class="switch">
                        <input type="checkbox" id="en_concentration" name="en_concentration" {% if en_concentration %}checked{% endif %}>
                        <span class="slider round"></span>
                    </label>
                    Air particle concentration
                </p>
            </li>
            <li class='serviceList__item'>
                <p class='serviceList__status'><span class="ok">{{abr_object}}</span></p>

                <p class='serviceList__name'>
                    <label class="switch">
                        <input type="checkbox" id="en_object" name="en_object" {% if en_object %}checked{% endif %}>
                        <span class="slider round"></span>
                    </label>
                    Object temp.
                </p>
            </li>
            <li class='serviceList__item'>
                <p class='serviceList__status'><span class="ok">{{abr_ambient}}</span></p>

                <p class='serviceList__name'>
                    <label class="switch">
                        <input type="checkbox" id="en_ambient" name="en_ambient" {% if en_ambient %}checked{% endif %}>
                        <span class="slider round"></span>
                    </label>
                    Ambient temp.
                </p>
            </li>
            <li class='serviceList__item'>
                <p class='serviceList__status'><span class="ok">{{abr_lux}}</span></p>

                <p class='serviceList__name'>
                    <label class="switch">
                        <input type="checkbox" id="en_lux" name="en_lux" {% if en_lux %}checked{% endif %}>
                        <span class="slider round"></span>
                    </label>
                    Lux
                </p>
            </li>
            <li class='serviceList__item'>
                <p class='serviceList__status'><span class="ok">{{abr_lightning_distanceToStorm}}</span></p>

                <p class='serviceList__name'>
                    <label class="switch">
                        <input type="checkbox" id="en_lightning_distanceToStorm" name="en_lightning_distanceToStorm" {% if en_lightning_distanceToStorm %}checked{% endif %}>
                        <span class="slider round"></span>
                    </label>
                    Lightning distance
                </p>
            </li>

            <li class='serviceList__item'>
                <p class='serviceList__status'><a href="/abriv"><span class="outage"><button class="button button5" type="submit">Change</button></span></a>

            </li>


        </ul>
    </section>
</div>

</body>
</html>

<script>
  document.getElementById("en_seeing").addEventListener("change", function() {
    var data = JSON.stringify({ en_seeing: this.checked
    });
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/onoff", true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.send(data);
  });
  document.getElementById("en_raining").addEventListener("change", function() {
    var data = JSON.stringify({ en_raining: this.checked
    });
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/onoff", true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.send(data);
  });
    document.getElementById("en_luminosity").addEventListener("change", function() {
        var data = JSON.stringify({ en_luminosity: this.checked
        });
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/onoff", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(data);
    });
    document.getElementById("en_nelm").addEventListener("change", function() {
        var data = JSON.stringify({ en_nelm: this.checked
        });
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/onoff", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(data);
    });
    document.getElementById("en_concentration").addEventListener("change", function() {
        var data = JSON.stringify({ en_concentration: this.checked
        });
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/onoff", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(data);
    });
    document.getElementById("en_object").addEventListener("change", function() {
        var data = JSON.stringify({ en_object: this.checked
        });
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/onoff", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(data);
    });
    document.getElementById("en_ambient").addEventListener("change", function() {
        var data = JSON.stringify({ en_ambient: this.checked
        });
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/onoff", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(data);
    });
    document.getElementById("en_lux").addEventListener("change", function() {
        var data = JSON.stringify({ en_lux: this.checked
        });
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/onoff", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(data);
    });
    document.getElementById("en_lightning_distanceToStorm").addEventListener("change", function() {
        var data = JSON.stringify({ en_lightning_distanceToStorm: this.checked
        });
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/onoff", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(data);
    });
</script>