<!DOCTYPE html>
<html lang="en">
<head>
    {{ turbo() }}
    <title>SQM Status Page</title>
    <link rel="stylesheet" href="../static/status.css">
    <link rel="stylesheet" href="../static/dark.css">
    <link rel="icon" type="image/x-icon" href="../static/northstar.png">
</head>
<body>

{% include "replace_content.html" %}
{% block content %}{% endblock %}

<div class='container'>

    <section class='ongoingIssues'>
        <div class='issueBanner issueBanner--monitoring'>
            <h2>Info & Calibration</h2>
        </div>
    </section>
    <form action="/calibrate" method="post">
        <section class='serviceGroup'>
            <ul class='serviceList serviceGroup__list'>
            <li class='serviceList__item'>
                    <p class='serviceList__status'><span class="ok">ESP-WIFI-MANAGER</span></p>
                    <p class='serviceList__name'>
                        Access Point name to change WI-FI settings on the ESP32 (if the ESP32 could not find the WI-FI)
                    </p>
                </li>
                <li class='serviceList__item'>
                    <p class='serviceList__status'><span class="ok">192.168.1.1</span></p>
                    <p class='serviceList__name'>
                        Access Point IP to change WI-FI settings on the ESP32
                    </p>
                </li>
            <li class='serviceList__item'></li>
                <li class='serviceList__item'>

                    {% if (localIP!="error") %}
                        <p class='serviceList__status'><span class="ok">{{localIP}}</span></p>

                    {% else %}
                        <p class='serviceList__status'><span class="ok">Couldn't read IP</span></p>

                    {% endif %}
                    <p class='serviceList__name'>
                        Server IP address (for the ESP32 settings)
                    </p>
                </li>
                <li class='serviceList__item'></li>
                <li class='serviceList__item'>

                    {% if (calculated_mag_limit!=-1) %}
                        <p class='serviceList__status'><span class="ok">{{calculated_mag_limit}}</span></p>

                    {% else %}
                        <p class='serviceList__status'><span class="outage">None calculated yet</span></p>

                    {% endif %}
                    <p class='serviceList__name'>
                        Calculated Limiting magnitude for your location
                    </p>
                </li>

                <li class='serviceList__item'>
                    <p class='serviceList__status'><span class="ok"><input type="number"  step=".01" id="actual_SQM" name="actual_SQM"></span></p>
                    <p class='serviceList__name'>
                        Measured Luminosity <br>(with professional SQMeter, for calibration, valid for 15min,<br>compares it to a measured sensor value of the ESP32,<br> calculates a Limiting magnitude)
                    </p>
                </li>
                <li class='serviceList__item'>
                    <p class='serviceList__status'><span class="outage"><button class="button button5" type="submit">Calibrate</button></span></p>

                </li>


            </ul>
        </section>
    </form>
</div>


<div class='container'>

    <section class='ongoingIssues'>
        <div class='issueBanner issueBanner--monitoring'>
            <h2>ESP32 Settings</h2>
        </div>
    </section>

    <section class='serviceGroup'>
        <ul class='serviceList serviceGroup__list'>

            <li class='serviceList__item'>
                {% if (DISPLAY_ON==-1) %}
                    <p class='serviceList__status'><span class="ok">On
                        </span></p>

                {% else %}
                    <p class='serviceList__status'><span class="ok">Off
                        </span></p>

                {% endif %}

                <p class='serviceList__name'>
                    Display (on/off)
                </p>
            </li>
            <li class='serviceList__item'>
                {% if (check_everytime==False) %}
                    <p class='serviceList__status'><span class="ok">No
                        </span></p>

                {% else %}
                    <p class='serviceList__status'><span class="ok">Yes
                        </span></p>

                {% endif %}

                <p class='serviceList__name'>
                    Check server settings everytime after ESP32 deep sleep
                </p>
            </li>
            <li class='serviceList__item'>
                <p class='serviceList__status'><span class="ok">{{set_sqm_limit}}</span></p>

                <p class='serviceList__name'>
                    Set Limiting magnitude on your location
                </p>
            </li>
            <li class='serviceList__item'>
                <p class='serviceList__status'><span class="ok">{{DISPLAY_TIMEOUT_s}}</span></p>
                <p class='serviceList__name'>
                    Seconds until the display turns itself off (0 for never)
                </p>
            </li>
            <li class='serviceList__item'>
                <p class='serviceList__status'><span class="ok">{{SLEEPTIME_s}}</span></p>

                <p class='serviceList__name'>
                    Seconds the ESP32 should sleep between measurements
                </p>
            </li>
            <li class='serviceList__item'>

                {% if (PATH!="" and PATH!=" ") %}
                    <p class='serviceList__status'><span class="ok">"{{PATH}}"</span></p>

                {% else %}
                    <p class='serviceList__status'><span class="ok">Same as Script</span></p>

                {% endif %}

                <p class='serviceList__name'>
                    Path where to save the sensor measurements
                </p>
            </li>
            <li class='serviceList__item'>
                <p class='serviceList__status'><a href="/settings"><span class="outage"><button class="button button5" type="submit">Change</button></span></a>

            </li>


        </ul>
    </section>
</div>

<div class='container'>

    <section class='ongoingIssues'>
        <div class='issueBanner issueBanner--monitoring'>
            <h2>Abbreviation for sensor values</h2>
        </div>
    </section>

    <section class='serviceGroup'>
        <ul class='serviceList serviceGroup__list'>

            <li class='serviceList__item'>
                <p class='serviceList__status'><span class="ok">{{abr_seeing}}</span></p>

                <p class='serviceList__name'>
                    Seeing
                </p>
            </li>
            <li class='serviceList__item'>
                <p class='serviceList__status'><span class="ok">{{abr_raining}}</span></p>

                <p class='serviceList__name'>
                    Raining
                </p>
            </li>
            <li class='serviceList__item'>
                <p class='serviceList__status'><span class="ok">{{abr_luminosity}}</span></p>

                <p class='serviceList__name'>
                    Luminosity
                </p>
            </li>
            <li class='serviceList__item'>
                <p class='serviceList__status'><span class="ok">{{abr_nelm}}</span></p>

                <p class='serviceList__name'>
                    Nelm
                </p>
            </li>
            <li class='serviceList__item'>
                <p class='serviceList__status'><span class="ok">{{abr_concentration}}</span></p>

                <p class='serviceList__name'>
                    Air particle concentration
                </p>
            </li>
            <li class='serviceList__item'>
                <p class='serviceList__status'><span class="ok">{{abr_object}}</span></p>

                <p class='serviceList__name'>
                    Object temp.
                </p>
            </li>
            <li class='serviceList__item'>
                <p class='serviceList__status'><span class="ok">{{abr_ambient}}</span></p>

                <p class='serviceList__name'>
                    Ambient temp.
                </p>
            </li>
            <li class='serviceList__item'>
                <p class='serviceList__status'><span class="ok">{{abr_lux}}</span></p>

                <p class='serviceList__name'>
                    Lux
                </p>
            </li>
            <li class='serviceList__item'>
                <p class='serviceList__status'><span class="ok">{{abr_lightning_distanceToStorm}}</span></p>

                <p class='serviceList__name'>
                    Lightning distance
                </p>
            </li>

            <li class='serviceList__item'>
                <p class='serviceList__status'><a href="/abriv"><span class="outage"><button class="button button5" type="submit">Change</button></span></a>

            </li>


        </ul>
    </section>
</div>

</body>
</html>