
<div id="load" class="load">
    <header class='siteHeader'>

        <div class='container'>
            {% if (isRunning) %}
                <span class="greendot"></span>


            {% else %}
                <span class="reddot"></span>

            {% endif %}
        <span class='siteHeader__title'>SQM&emsp;</span>
            {% if (isSeeing==1) %}
                <span class="greendot"></span>
            {% else %}
                <span class="reddot"></span>

            {% endif %}
         <span class='siteHeader__title'>Seeing</span>
        </div>
    </header>

    <div class='container'>

        <section class='ongoingIssues'>
            <div class='issueBanner issueBanner--monitoring'>
                <p class='issueBanner__state'>{{ min_ago }}</p>
                <h2>Last updated:</h2>
                <p class='issueBanner__time'>{{last_transm}}</p>
            </div>
        </section>

        <section class='serviceGroup'>
            <ul class='serviceList serviceGroup__list'>

                <li class='serviceList__item'>
                    {% if (raining>-100) %}
                        {% if (raining==0) %}
                            <p class='serviceList__status'><span class="ok">Not raining, {{skystate}}
                        {% else %}
                            <p class='serviceList__status'><span class="ok">raining, {{skystate}}

                        {% endif %}

                    {% else %}
                        <p class='serviceList__status'><span class="outage">No value yet

                    {% endif %}
                    <a href="/visual/{{abr_raining}}/newest"><img src="{{url_for('static', filename='statistics.svg')}}" alt="statisticsIcon" class="statisticsIcon"></a>

                </span></p>
                    <p class='serviceList__name'>
                        Weather
                    </p>

                </li>
                <li class='serviceList__item'>
                    {% if (ambient>-100) %}
                        <p class='serviceList__status'><span class="ok">{{ambient}} °C

                    {% else %}
                        <p class='serviceList__status'><span class="outage">No value yet

                    {% endif %}
                    <a href="/visual/{{abr_ambient}}/newest"><img src="{{url_for('static', filename='statistics.svg')}}" alt="statisticsIcon" class="statisticsIcon"></a>
                </span></p>
                    <p class='serviceList__name'>
                        Ambient temperature
                    </p>
                </li>
                <li class='serviceList__item'>
                    {% if (object>-100) %}
                        <p class='serviceList__status'><span class="ok">{{object}} °C

                    {% else %}
                        <p class='serviceList__status'><span class="outage">No value yet

                    {% endif %}
                    <a href="/visual/{{abr_object}}/newest"><img src="{{url_for('static', filename='statistics.svg')}}" alt="statisticsIcon" class="statisticsIcon"></a>
                </span></p>
                    <p class='serviceList__name'>
                        Object temperature
                    </p>
                </li>
                <li class='serviceList__item'>
                    {% if (lux>-100) %}
                        <p class='serviceList__status'><span class="ok">{{lux}} lux

                    {% else %}
                        <p class='serviceList__status'><span class="outage">No value yet

                    {% endif %}
                    <a href="/visual/{{abr_lux}}/newest"><img src="{{url_for('static', filename='statistics.svg')}}" alt="statisticsIcon" class="statisticsIcon"></a>
                </span></p>
                    <p class='serviceList__name'>
                        Brightness
                    </p>
                </li>
                <li class='serviceList__item'>
                    {% if (luminosity>-100) %}
                        <p class='serviceList__status'><span class="ok">{{luminosity}} mpsas

                    {% else %}
                        <p class='serviceList__status'><span class="outage">No value yet

                    {% endif %}
                    <a href="/visual/{{abr_luminosity}}/newest"><img src="{{url_for('static', filename='statistics.svg')}}" alt="statisticsIcon" class="statisticsIcon"></a>
                </span></p>
                    <p class='serviceList__name'>
                        Luminosity (sky background brightness)
                    </p>
                </li>

                <li class='serviceList__item'>
                    {% if (seeing>-100) %}
                        <p class='serviceList__status'><span class="ok">{{seeing}}

                    {% else %}
                        <p class='serviceList__status'><span class="outage">No value yet

                    {% endif %}
                    <a href="/visual/{{abr_seeing}}/newest"><img src="{{url_for('static', filename='statistics.svg')}}" alt="statisticsIcon" class="statisticsIcon"></a>
                </span></p>
                    <p class='serviceList__name'>
                        Seeing
                    </p>
                </li>

                <li class='serviceList__item'>
                    {% if (lightning_distanceToStorm>-100) %}
                        <p class='serviceList__status'><span class="ok">{{lightning_distanceToStorm}} km
                    {% else %}
                            <p class='serviceList__status'><span class="ka">Nothing yet
                    {% endif %}
                    <a href="/visual/{{abr_lightning_distanceToStorm}}/newest"><img src="{{url_for('static', filename='statistics.svg')}}" alt="statisticsIcon" class="statisticsIcon"></a>
                </span></p>

                    <p class='serviceList__name'>
                        Distance to Storm
                    </p>
                </li>

                <li class='serviceList__item'>
                    {% if (nelm>-100) %}
                        <p class='serviceList__status'><span class="ok">{{nelm}}

                    {% else %}
                        <p class='serviceList__status'><span class="outage">No value yet

                    {% endif %}
                    <a href="/visual/{{abr_nelm}}/newest"><img src="{{url_for('static', filename='statistics.svg')}}" alt="statisticsIcon" class="statisticsIcon"></a>
                </span></p>
                    <p class='serviceList__name'>
                        Nelm (Naked Eye Limiting Magnitude)
                    </p>
                </li>

                <li class='serviceList__item'>
                    {% if (concentration>-100) %}
                        <p class='serviceList__status'><span class="ok">{{concentration}}

                    {% else %}
                        <p class='serviceList__status'><span class="outage">No value yet

                    {% endif %}
                    <a href="/visual/{{abr_concentration}}/newest"><img src="{{url_for('static', filename='statistics.svg')}}" alt="statisticsIcon" class="statisticsIcon"></a>
                </span></p>
                    <p class='serviceList__name'>
                        Air particle concentration
                    </p>
                </li>
                <li class='serviceList__item'>
                </li>
                <li class='serviceList__item'>
                    {% if (errors=="-333") %}
                        <p class='serviceList__status'><span class="outage">No info yet</span></p>

                    {% elif (errors=="") %}
                        <p class='serviceList__status'><span class="ok">No errors</span></p>

                    {% else %}
                        <p class='serviceList__status'><span class="outage">{{errors}}</span></p>

                    {% endif %}
                    <p class='serviceList__name'>
                        Sensor errors
                    </p>
                </li>
            </ul>
        </section>
    </div>
</div>

<script >
    const el = document.getElementsByClassName("statisticsIcon");
    el.forEach(function(item){
        item.parentElement.setAttribute("onclick", "window.open('" + item.parentElement.href + "','_self')");
    });
</script>