
<div id="load" class="load">
    <header class='siteHeader'>

        <div class='container'>
            {% if (isRunning) %}
                <span class="greendot"></span>


            {% else %}
                <span class="reddot"></span>

            {% endif %}
        <span class='siteHeader__title'>SQM&emsp;</span>
            {% if (isSeeing=="1") %}
                <span class="greendot"></span>
            {% else %}
                <span class="reddot"></span>

            {% endif %}
         <span class='siteHeader__title'>Seeing</span>
        </div>
    </header>

    <div class='container'>

        <section class='ongoingIssues'>
            <div class='issueBanner issueBanner--monitoring'>
                <p class='issueBanner__state'>{{ min_ago }}</p>
                <h2>Last updated:</h2>
                <p class='issueBanner__time'>{{last_transm}}</p>
            </div>
        </section>

        <section class='serviceGroup'>
            <ul class='serviceList serviceGroup__list'>

                <li class='serviceList__item'>
                    {% if (raining!="-1") %}
                        {% if (raining=="0") %}
                            <p class='serviceList__status'><span class="ok">Not raining, {{skystate}}</span></p>
                        {% else %}
                            <p class='serviceList__status'><span class="ok">raining, {{skystate}}</span></p>

                        {% endif %}

                    {% else %}
                        <p class='serviceList__status'><span class="outage">No value yet</span></p>

                    {% endif %}
                    <p class='serviceList__name'>
                        Weather
                    </p>
                </li>
                <li class='serviceList__item'>
                    {% if (ambient!="-1") %}
                        <p class='serviceList__status'><span class="ok">{{ambient}} °C</span></p>

                    {% else %}
                        <p class='serviceList__status'><span class="outage">No value yet</span></p>

                    {% endif %}
                    <p class='serviceList__name'>
                        Ambient temperature
                    </p>
                </li>
                <li class='serviceList__item'>
                    {% if (object!="-1") %}
                        <p class='serviceList__status'><span class="ok">{{object}} °C</span></p>

                    {% else %}
                        <p class='serviceList__status'><span class="outage">No value yet</span></p>

                    {% endif %}
                    <p class='serviceList__name'>
                        Object temperature
                    </p>
                </li>
                <li class='serviceList__item'>
                    {% if (lux!="-1") %}
                        <p class='serviceList__status'><span class="ok">{{lux}} lux</span></p>

                    {% else %}
                        <p class='serviceList__status'><span class="outage">No value yet</span></p>

                    {% endif %}
                    <p class='serviceList__name'>
                        Brightness
                    </p>
                </li>
                <li class='serviceList__item'>
                    {% if (luminosity!="-1") %}
                        <p class='serviceList__status'><span class="ok">{{luminosity}} mpsas</span></p>

                    {% else %}
                        <p class='serviceList__status'><span class="outage">No value yet</span></p>

                    {% endif %}
                    <p class='serviceList__name'>
                        Luminosity (sky background brightness)
                    </p>
                </li>

                <li class='serviceList__item'>
                    {% if (seeing!="-1") %}
                        <p class='serviceList__status'><span class="ok">{{seeing}}</span></p>

                    {% else %}
                        <p class='serviceList__status'><span class="outage">No value yet</span></p>

                    {% endif %}
                    <p class='serviceList__name'>
                        Seeing
                    </p>
                </li>

                <li class='serviceList__item'>
                    {% if (lightning_distanceToStorm!="-1") %}
                        <p class='serviceList__status'><span class="ok">{{lightning_distanceToStorm}} km</span></p>
                    {% else %}
                        {% if (raining!="-1") %}
                            <p class='serviceList__status'><span class="ok">No storm nearby</span></p>

                        {% else %}
                            <p class='serviceList__status'><span class="outage">No value yet</span></p>

                        {% endif %}
                    {% endif %}

                    <p class='serviceList__name'>
                        Distance to Storm
                    </p>
                </li>

                <li class='serviceList__item'>
                    {% if (nelm!="-1") %}
                        <p class='serviceList__status'><span class="ok">{{nelm}}</span></p>

                    {% else %}
                        <p class='serviceList__status'><span class="outage">No value yet</span></p>

                    {% endif %}
                    <p class='serviceList__name'>
                        Nelm (Naked Eye Limiting Magnitude)
                    </p>
                </li>

                <li class='serviceList__item'>
                    {% if (concentration!="-1") %}
                        <p class='serviceList__status'><span class="ok">{{concentration}}</span></p>

                    {% else %}
                        <p class='serviceList__status'><span class="outage">No value yet</span></p>

                    {% endif %}
                    <p class='serviceList__name'>
                        Air particle concentration
                    </p>
                </li>
                <li class='serviceList__item'>
                </li>
                <li class='serviceList__item'>
                    {% if (errors=="-1") %}
                        <p class='serviceList__status'><span class="outage">No info yet</span></p>

                    {% elif (errors=="") %}
                        <p class='serviceList__status'><span class="ok">No errors</span></p>

                    {% else %}
                        <p class='serviceList__status'><span class="outage">{{errors}}</span></p>

                    {% endif %}
                    <p class='serviceList__name'>
                        Sensor errors
                    </p>
                </li>
            </ul>
        </section>
    </div>
</div>
