<!DOCTYPE html>
<html>
<head>
    {{ turbo() }}
    <title>SQM Settings Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='status.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='dark.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='settings.css')}}">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='northstar.png')}}">
</head>
<body>

<div id="settin" class="settin">


    <div class='container'>
        <br>
        <section class='ongoingIssues'>
            <div class='issueBanner issueBanner--monitoring'>
                <h2>Settings</h2>
                <p class='issueBanner__time'>Leave fields empty to save current settings</p>
            </div>
        </section>


        <form action="/settings" method="post">
            <section class='serviceGroup'>
                <ul class='serviceList serviceGroup__list'>

                    <li class='serviceList__item'>
                        <p class='serviceList__status'><span class="ok"><!-- Rounded switch -->
<label class="switch">
         {% if (DISPLAY_ON==1) %}
             <input type="checkbox" id="DISPLAY" name="DISPLAY" checked>

         {% else %}
             <input type="checkbox" id="DISPLAY" name="DISPLAY">

         {% endif %}

    <span class="slider round"></span>
</label>
                        </span></p>

                        <p class='serviceList__name'>
                            Display (on/off)
                        </p>
                    </li>
                    <li class='serviceList__item'>
                        <p class='serviceList__status'><span class="ok"><input type="number"  step=".01" id="setpoint1" name="setpoint1"></span></p>
                        <p class='serviceList__name'>
                            Setpoint 1
                        </p>
                    </li>
                    <li class='serviceList__item'>
                        <p class='serviceList__status'><span class="ok"><input type="number"  step=".01" id="setpoint2" name="setpoint2"></span></p>
                        <p class='serviceList__name'>
                            Setpoint 2
                        </p>
                    </li>
                    <li class='serviceList__item'>
                        <p class='serviceList__status'><span class="ok"><input type="number"  step=".01" id="max_lux" name="max_lux"></span></p>
                        <p class='serviceList__name'>
                            Max. Lux (for Seeing check)
                        </p>
                    </li>

                    <li class='serviceList__item'>
                        <p class='serviceList__status'><span class="ok"><input type="number"  step=".01" id="set_sqm_limit" name="set_sqm_limit"></span></p>
                        <p class='serviceList__name'>
                            Limiting magnitude on your location
                        </p>
                    </li>
                    <li class='serviceList__item'>
                        <p class='serviceList__status'><span class="ok"><input type="number" id="DISPLAY_TIMEOUT_s" name="DISPLAY_TIMEOUT_s"></span></p>
                        <p class='serviceList__name'>
                            Seconds until the display turns itself off (0 for never)
                        </p>
                    </li>
                    <li class='serviceList__item'>
                        <p class='serviceList__status'><span class="outage"><input type="number" id="SLEEPTIME_s" name="SLEEPTIME_s"></span></p>

                        <p class='serviceList__name'>
                            Seconds the ESP32 should sleep between measurements
                        </p>
                    </li>
                    <li class='serviceList__item'>
                        <p class='serviceList__status'><span class="outage"><input type="number" id="seeing_thr" name="seeing_thr"></span></p>

                        <p class='serviceList__name'>
                            Seeing on/off threshold (after how many times good/bad sky seeing on/off)
                        </p>
                    </li>
                    <li class='serviceList__item'>
                        <p class='serviceList__name'>
                            Path where to save the sensor measurements<br>(1 Whitespace character = same as Script)
                        </p>
                        <p class='serviceList__status'><span class="ok"><input type="text" id="PATH" name="PATH"></span></p>

                    </li>
                    <li class='serviceList__item'>
                        <p class='serviceList__status'><span class="outage"><button class="button button5" type="submit">Save</button></span></p>

                    </li>


                </ul>
            </section>
        </form>
    </div>

</div>
</body>
</html>