<!DOCTYPE html>
<html lang="en">

<head>
    <script src="{{url_for('static', filename='plotly-latest.min.js')}}"></script>
    <script src="{{url_for('static', filename='d3.min.js')}}"></script>
    <title>Visualization</title>
    <link rel="stylesheet" href="{{url_for('static', filename='status.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='dark.css')}}">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='northstar.png')}}">

</head>

<body>

<!--   header with sensor name and date -->
<header class='siteHeader2'>

    <div class='container'>
        <span class='siteHeader__title2'>{{sens}}, {{ formatted_date }}</span>
    </div>
</header>

<!--   beautiful  back button -->
<a href="/"><img src="{{url_for('static', filename='back.png')}}" alt="backIcon" class="backIcon" style="width: 50px; height: 50px;"></a>

<!--     dropdown menu with dat_files as option -->
<div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Select File</button>
    <div id="myDropdown" class="dropdown-content">
        {% for dat_file in dat_files %}
            <a href="/visual/{{abr}}/{{dat_file}}">{{dat_file}}</a>
        {% endfor %}
    </div>
</div>

<br>

<!--   make textfield where you can filter the dat_files -->
<input type="text" id="myInput" onkeyup="filterFunction()" placeholder="Search for files.." title="Type in a name">

<!--   some padding -->
<br>
<br>
<!--   js to filter sensors via textfield -->
<script>
    window.isshowing = false;
    <!-- show dropdown menu with dat_files that match the filter -->
    function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "block";
            } else {
                a[i].style.display = "none";
            }
        }
        <!-- show dropdown menu with dat_files that match the filter -->
        if (!isshowing) {
            myFunction();
            window.isshowing=true
        }
    }

    <!-- show dropdown menu when button is clicked -->
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
        window.isshowing=!window.isshowing;
    }

    <!-- close dropdown menu when clicked anywhere else than the button or the dropdown menu -->
    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
            window.isshowing=false;
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }

//js to show the sensor value graph
</script>
<div class="chart" id="scatter"></div>
<script>
    var graphs = {{ plot | safe}};
    Plotly.plot('scatter', graphs, {});
</script>

</body>
</html>